body {
    background-color: white;
    color: black;
	height: 100%;
	
}
html {
	height: 100%;
	
}
.navbar li a {
    color: red;
}
.navbar-brand {
    color: red;

}
.navi {
	background-color: #ffffff;
}
 h1.otsikko {
	font-family: "fantasy", Papyrus, Studz;
	font-size: 70px;
 }
 p {
	 font-size: 20px;
 }
.jumbo {
    padding-top: 150px;
    padding-bottom: 150px;
	margin-top: 5px;
    margin-bottom: 5px;
	background-image: url("images/jumbocover.jpg");
	background-size: cover;
	
}
.jumbo1 {
    padding-top: 150px;
    padding-bottom: 150px;
    margin-bottom: 0px;
	background-image: url("images/jumbocover.jpg");
	background-size: cover; 
	
}
.tausta {
	background-image: url("images/tausta.jpg");
	background-size: cover; 
	background-repeat: no-repeat;
	
}

.varit {
	color: #ffffff;
}
.contabg {
	background-color: #99CBFC;
}
.card-body {
	background-color: #5A7ABD;
}
.card {
	border: none;
}
.card1 {
    height: 200px;
}
.card2 {
    height: 350px;
    margin-bottom: 5px;
    margin-top: 0px;
	font-family: "Serif", Didot, Georgia;
	font-size: 20px;

}
.jalatin {
	font-family: "Serif", Didot, Georgia;
	padding-top: 20px;
	
}

.bg-1 { 
    background-color: #ffffff;
    color: #DA291C;
  }
.bg-2 { 
    background-color: #0033A0; 
    color: #DA291C;
}
.bg-3 {
    background-color: #DA291C;
    color: #ffffff;
}
.muoto {
	padding-top: 70px;
	padding-bottom: 70px;

}

@media screen and (max-width: 768px) {
    footer{ display: none; }
	h1.otsikko{ font-size: 40px; }
	.card2{ height: 200px;
    margin-bottom: 5px;
    margin-top: 0px;
	font-family: "Serif", Didot, Georgia;
	font-size: 10px; }

    }
@media screen and (max-width: 576px) {
		 .first {
        order: 1;
    }
    .second {
        order: 2;
    }
    .third {
        order: 3;
    }
}
