body {
    background-color: white;
    color: black;
}
.navbar li a {
    color: red;
}
.navbar-brand {
    color: red;

}
.p-3 {
    padding: 3;
    border: lawngreen;
  }
.jumbo {
    padding-top: 150px;
    padding-bottom: 150px;
    margin-bottom: 0px;
}
.card {
    height: 350px;
    margin-bottom: 5px;
    margin-top: 5px;

}
.card1 {
    height: 200px;
}
@media only screen and (max-width: 800px) {
    footer{ display: none; }
    }